@charset "UTF-8";

.cart_main{
    min-height: 500px;
    width: 1000px;
    margin: 0 auto;
    h3{
        width: 1000px;
        height: 50px;
        line-height: 50px;
        border-bottom: 2px solid #CCCCCC;
    }
    .cart_empty{
        text-align: center;
        line-height: 200px;
        margin-top: 200px;
        display: none;
    }
    .cart_table{
        margin-top: 20px;
        width: 1000px;
        .top{
            height: 4px;
            line-height: 40px;
            text-align: center;
        }
        .content{
            height: 100px;  
            text-align: center;
//          .td1{
//              width: 50px;
//          }
         .td2{
            img{
                height: 100px;
                width: 100px;
            }
         }
//          .td3{
//              width: 400px;
//          }
//          .td4{
//              
//          }
        }
        tfoot{
            height: 40px;
            line-height: 40px;
            .quanx{
                padding-left: 20px;
               input{
                   position: relative;
                   top: 2px;
               }
            }
            .jiesuan{
                padding-left: 120px;
                padding-right: 30px;
                span.total_num{
                    font-size: 16px;
                    color: darkorange;
                }
                span.total_mon,.money{
                    font-size: 18px;
                    color: hotpink;
                }
                a{
                    display: block;
                    float: right;
                    height: 36px;
                    margin-top: 2px;
                    width: 80px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 16px;
                    background: #FFC000;
                    color: white;
   
                }
            }
        }
    }
}
