@charset "UTF-8";
 .main_content{
     
        .goods_hot{ 
     
        height: 275px;
        margin: 0 auto;
        .logo_images{
            height: 43px;
            text-align: center;
            position: relative;
            top: 15px;
        }
        .hot-list{
            height: 230px;
            width: 1200px;
            margin: 0 auto;
           
         #recommendDiv{
             width: 1200px;
             height: 230px;
            
            .change_goods{
                height: 230px;
                width: 60px;
                float: right;
                text-align: center;
                line-height: 230px;
                i{
                    font-size: 35px;
                    font-weight:800 ;
                }
            }
           .goods_rx{
             width: 190px;
             position: relative;
             float: left;
             .goods_box{
                 display: block;
                 height: 230px;
                 width: 190px;
                 border-right: 1px solid #CCCCCC;
                 .hot-img{
                     height: 190px;
                     width: 190px;
                     img{
                         height: 150px;
                         width: 150px;
                         margin-top: 20px;
                         margin-left: 20px;
                     }
                 }
                p{
                    line-height: 20px;
                    height: 20px;
                    text-align: center;
                } 
                span{
                    display: block;
                    line-height: 20px;
                    height: 20px;
                    color: hotpink;
                    text-align: center;
                }
             } 
             
             .join_car{
                 display: none;
                 position: absolute;
                top: 230px;
                left: 0;
                color:#333;
                width: 190px;
                height: 50px;
                line-height: 50px;
                background: #ffc000;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
              
             }
              
           }
         }   
        
        }
        
    }
}


//蔬菜类产品列表
.foot_list{
    height: 540px;
    width: 1200px;
    margin: 0 auto;
    
    .top{
        height: 80px;
        
        padding-top: 45px;
        .title-name{
        font-size: 24px;
        margin: 0 8px 0 45px;
        }
        .title-ad{
        font-family: "楷体";
        font-size:16px ;
        }
        
    }
    .bottom{
        width: 1200px;
        height: 460px;
        .left_img{
            width: 400px;
            height: 460px;
            position: relative;
            float: left;
            img{
                position: absolute;
                left: -50px;
            }
        }
        .right_pro{
            float: right;
            width: 800px;
            height: 460px;
            .sc_prod{
                height: 230px;
                width: 199px;
                float: left;
                border-bottom: 1px solid #C0C0C0;
                border-right:1px solid #C0C0C0 ;
                .prod_pic{
                    height: 180px;
                    width: 199px;
                    img{
                        height: 160px;
                        width: 160px;
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                }
                p{
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    font-size: 16px;
                    color: black;
                    width: 190px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                span{
                    display: block;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    color: hotpink;
                    font-size: 14px;
                }
                .jr_car{
                    display: block;
                    width: 200px;
                     color:#333;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    background: #ffc000;
                    font-weight: bold;
                    font-size: 16px;
                    display: none;
                }
            
            }
        }
    }
}
