#carousel-example-generic {
  height: 360px;
  width: 1280px; }
  #carousel-example-generic img {
    height: 360px;
    width: 100%; }
  #carousel-example-generic ol li {
    margin: 0 5px;
    background: white; }
  #carousel-example-generic .active {
    padding: 0 14px;
    background: hotpink; }
