.header .top {
  padding-left: 50px;
  margin: 0 auto;
  height: 32px;
  line-height: 32px;
  background: #f1f1f1;
  padding-right: 30px; }
  .header .top p {
    float: left; }
  .header .top ul {
    float: right; }
    .header .top ul li {
      float: left;
      list-style: none; }
    .header .top ul span {
      padding: 0 6px;
      float: left; }
.header .re_pic {
  height: 90px;
  padding-left: 50px;
  padding-top: 23px;
  box-sizing: border-box; }

.footer {
  height: 60px; }
  .footer p {
    height: 30px;
    line-height: 30px;
    text-align: center; }
    .footer p span {
      padding: 0 6px; }

.login_main {
  height: 500px;
  background: #5fbb68; }
  .login_main .login_box {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    background: url(../images/login_n.png) no-repeat;
    background-position: center left; }
    .login_main .login_box .login_box2 {
      height: 330px;
      margin-top: 30px;
      width: 330px;
      float: right;
      background: white;
      padding-left: 20px;
      box-sizing: border-box; }
      .login_main .login_box .login_box2 .login_title {
        height: 36px;
        margin-top: 18px;
        line-height: 36px;
        margin-bottom: 30px; }
        .login_main .login_box .login_box2 .login_title .mima {
          float: left;
          display: block;
          width: 110px;
          height: 36px;
          font-size: 16px;
          text-align: center;
          color: #C0C0C0; }
        .login_main .login_box .login_box2 .login_title .mima:hover {
          color: #ffc000;
          border-bottom: 2px solid #ffc000; }
        .login_main .login_box .login_box2 .login_title span {
          display: block;
          float: left;
          padding: 0 6px; }
        .login_main .login_box .login_box2 .login_title .yzmdl {
          padding-left: 6px;
          width: 135px;
          display: block;
          float: left;
          height: 36px;
          font-size: 16px;
          color: #C0C0C0; }
        .login_main .login_box .login_box2 .login_title .yzmdl:hover {
          color: #ffc000;
          border-bottom: 2px solid #ffc000; }
      .login_main .login_box .login_box2 .input {
        margin-top: 18px;
        height: 40px;
        width: 260px; }
        .login_main .login_box .login_box2 .input button {
          height: 44px;
          width: 40px;
          background: #dddddd;
          border: 0;
          float: left; }
        .login_main .login_box .login_box2 .input #in1, .login_main .login_box .login_box2 .input #in2 {
          height: 40px;
          width: 216px;
          float: left; }
      .login_main .login_box .login_box2 #zddl {
        float: left;
        position: relative;
        top: 3px; }
      .login_main .login_box .login_box2 span {
        height: 20px;
        padding-left: 4px; }
      .login_main .login_box .login_box2 a {
        margin-top: 20px;
        display: block;
        height: 40px;
        width: 260px;
        line-height: 40px;
        text-align: center;
        background: #ffc000;
        font-size: 16px;
        font-weight: 900;
        color: white; }
      .login_main .login_box .login_box2 .register-now {
        margin-top: 20px;
        background: #f5f5f5;
        height: 32px; }
        .login_main .login_box .login_box2 .register-now p {
          width: 100px;
          float: right;
          height: 32px;
          line-height: 32px;
          font-size: 14px; }

.register_main {
  height: 500px;
  background: #5fbb68; }
  .register_main .register_box {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    background: url(../images/login_n.png) no-repeat;
    background-position: center left; }
    .register_main .register_box .register_box2 {
      height: 440px;
      margin-top: 30px;
      width: 330px;
      float: right;
      background: white;
      padding-left: 20px;
      box-sizing: border-box; }
      .register_main .register_box .register_box2 .register_title {
        margin-top: 25px;
        height: 36px;
        font-size: 18px;
        font-weight: 900; }
      .register_main .register_box .register_box2 #phone {
        width: 260px;
        height: 38px;
        margin-bottom: 18px;
        margin-top: 18px; }
      .register_main .register_box .register_box2 #r_mima {
        width: 260px;
        height: 38px;
        margin-bottom: 18px; }
      .register_main .register_box .register_box2 #r_mima2 {
        width: 260px;
        height: 38px;
        margin-bottom: 18px; }
      .register_main .register_box .register_box2 #r_yzm {
        width: 150px;
        height: 38px;
        margin-bottom: 15px; }
      .register_main .register_box .register_box2 .fs {
        float: right;
        margin-right: 44px;
        display: block;
        width: 100px;
        border-radius: 5%;
        height: 40px;
        background: #7bbe2b;
        line-height: 40px;
        text-align: center;
        font-size: 14px;
        color: white; }
      .register_main .register_box .register_box2 #r_checkbox {
        float: left;
        position: relative;
        top: 3px; }
      .register_main .register_box .register_box2 span {
        margin-left: 5px; }
      .register_main .register_box .register_box2 .zc {
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: white;
        background: #ffc000;
        width: 260px;
        margin-top: 15px; }
      .register_main .register_box .register_box2 .r_bottom {
        height: 34px;
        margin-top: 17px;
        line-height: 34px; }
        .register_main .register_box .register_box2 .r_bottom .mima {
          float: left;
          display: block;
          width: 110px;
          height: 34px;
          font-size: 16px;
          text-align: center;
          color: #C0C0C0; }
        .register_main .register_box .register_box2 .r_bottom span {
          display: block;
          float: left;
          padding: 0 6px; }
        .register_main .register_box .register_box2 .r_bottom .yzmdl {
          padding-left: 6px;
          width: 135px;
          display: block;
          float: left;
          height: 34px;
          font-size: 16px;
          color: #C0C0C0; }

/*# sourceMappingURL=login_re.css.map */
